
<header th:fragment="head()" class="header"  >
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__left">
                        <ul th:if="${isLogin}">Xin chào:
                            <li th:text="${lastname} +' '+ ${firstname}">
                            </li>
                            <li> Giao hàng miễn phí cho tất cả các đơn hàng 500.000đ</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="header__top__right">
                        <div class="header__top__right__auth" th:if="${!isLogin}">
                            <a th:classappend="${isSignIn} ? 'active' : ''"  th:href="@{/login}">
                                <i class="fa fa-user"></i> Đăng nhập
                            </a>
                        </div>
                        <div class="header__top__right__auth" th:if="${!isLogin}">
                            <a th:classappend="${isSignUp} ? 'active' : ''" th:href="@{/register}">
                                <i class="fa fa-user"></i> Đăng ký
                            </a>
                        </div>
                        <div class="header__top__right__auth" th:if="${isLogin}">
                            <!-- logout feature -->
                            <a  href="javascript:document.getElementById('logout').submit()">
                                <i class="fa fa-power-off"></i> Đăng xuất
                            </a>
                            <form id="logout" th:action="@{/logout}" method="post">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="./index.html">
                        <img src="img/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active">
                            <a th:classappend="${isAbout} ? 'active' : ''"  th:href="@{/home}">Giới thiệu</a>
                        </li>
                        <li >
                            <a th:classappend="${isProduct} ? 'active' : ''" th:href="@{/products}">Sản phẩm</a>
                        </li>
                        <li th:if="${isLogin and isAdmin == true}">
                            <a th:classappend="${isUser} ? 'active' : ''"  th:href="@{/users}">Khách hàng</a>
                        </li>
                        <li th:if="${isLogin and isAdmin == false}" >
                            <a th:classappend="${isCart} ? 'active' : ''"  th:href="@{/cart}">Giỏ hàng
                            </a>
                        </li>

                        <li th:if="${isLogin}">
                            <a th:classappend="${isHistory} ? 'active' : ''" th:href="@{/history}">
                                Lịch sử
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li th:if="${isLogin and !isAdmin}">
                            <a th:classappend="${isCart} ? 'active' : ''" th:href="@{/history}">
                                <i class="fa fa-credit-card"></i>
                                <span style="background-color: red;" th:text="${orders.size()}"></span>
                            </a>
                        </li>
                        <li th:if="${isLogin and isAdmin == false}">
                            <a th:classappend="${isCart} ? 'active' : ''" th:href="@{/cart}">
                                <i class="fa fa-shopping-bag"></i>
                                <span style="background-color: red;" th:text="${products}"></span>
                            </a>
                        </li>
                    </ul>
                    <div  th:if="${isLogin and isAdmin == false}" class="header__cart__price">Tổng cộng:
                        <span th:text="${total}"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
