<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header.html :: header(${pageTitle})">


    <header>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
              integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
              crossorigin="anonymous" referrerpolicy="no-referrer" />
    </header>

<body>
<header th:replace="fragments/head.html :: head()">
</header>
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>Tất cả thể loại</span>
                    </div>
                    <ul id="productTableBody" style="display: none;">

                    </ul>

                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form th:action="@{/products}">
                            <input  name="keyword" type="text" th:value="${keyword}" placeholder="Bạn cần tìm gì?" required>
                            <button type="submit" class="site-btn">Tìm kiếm</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+8491228445</h5>
                            <span>Hỗ trợ 24/7 </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    <div class="container">

        <div class="row text-center">
            <div class="col mx-auto my-3">
                <div class="my-5">
                    <div class="card-body">
                        <h1 class="card-title">Thanh toán thành công</h1>
                        <br class="my-1">
                        <p class="card-text">
                            Yêu cầu mua hàng của bạn đã được nhận.
                            <br />
                            Chúng tôi sẽ sớm liên lạc với bạn!
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <footer th:replace="fragments/footer.html :: footer()">
        </footer>
        <script>
            $(document).ready(function() {
                $.getJSON("/api/category", function(products) {
                    var tableBody = $("#productTableBody");
                    var uniqueCategories = [];

                    $.each(products, function(index, product) {
                        var category = product.category;
                        if (!uniqueCategories.includes(category)) {
                            uniqueCategories.push(category);
                            var row = "<li><a>" + category + "</a></li>";
                            tableBody.append(row);
                        }
                    });
                });
            });
        </script>
    </div>

</body>

</html>